@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';


html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  //background: #eaeaea url('bg.png');
  //color: #4d4d4d;
  width: 100%;
  margin: 0 auto;
  // -webkit-font-smoothing: antialiased;
  // -moz-font-smoothing: antialiased;
  // -ms-font-smoothing: antialiased;
  // -o-font-smoothing: antialiased;
  // font-smoothing: antialiased;
}

#itemapp {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  //margin: 130px 0 40px 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

// #itemapp:before {
//   content: '';
//   // border-left: 1px solid #f5d6d6;
//   // border-right: 1px solid #f5d6d6;
//   width: 2px;
//   position: absolute;
//   top: 0;
//   left: 40px;
//   height: 100%;
// }

#itemapp input::-webkit-input-placeholder {
  font-style: italic;
}

#itemapp input::-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}

#itemapp h1 {
  position: absolute;
  top: -120px;
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

// #header {
//   padding-top: 15px;
//   border-radius: inherit;
// }

#header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  //border-bottom: 1px solid #6c615c;
  // background: #8d7d77;
  // background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  // background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  // background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  // background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  // background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  // background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  // filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

#new-item,
.edit,
.edit-count-in,
.edit-add,
.edit-comp,
.edit-count-out
 {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  //box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#new-item {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}

#main {
  position: relative;
  z-index: 2;
  border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
  display: none;
}

#toggle-all {
  position: absolute;
  top: -42px;
  left: -4px;
  width: 40px;
  text-align: center;
  border: none; /* Mobile Safari */
}

// #toggle-all:before {
//   content: ">";
//   font-size: 28px;
//   color: #d9d9d9;
//   padding: 0 25px 7px;
// }

#toggle-all:checked:before {
  color: #737373;
}

#item-list {
  //margin: 0;
  //padding: 0;
  list-style: none;
}

#item-list tr {
  position: relative;
  font-size: 12px;
  // border-bottom: 1px dotted #ccc;
}

#item-list tr:last-child {
  border-bottom: none;
}

#item-list tr.editing {
  border-bottom: none;
  padding: 0;
}

#item-list tr.editing .edit {
  display: block;
  text-align: center;
  font-size: 19px;
  //width: 50%;
  //padding: 13px 17px 12px 17px;
  //margin: 0 0 0 43px;
}

#item-list td.editing-count-in .edit-count-in,
#item-list td.editing-add .edit-add,
#item-list td.editing-comp .edit-comp,
#item-list td.editing-count-out .edit-count-out {
  display: block;
  text-align: center;
  font-size: 19px;
}



// makes item list disappear on editing
#item-list td.editing-count-in span,
#item-list td.editing-add span,
#item-list td.editing-comp span,
#item-list td.editing-count-out span
 {
  display: none;
}

#item-list tr .toggle {
  //text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#item-list tr .toggle:after {
  content: '\2713';
  line-height: 43px; /* 40 + a couple of pixels visual adjustment */
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

#item-list tr .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

#item-list tr label {
  word-break: break-word;
  padding: 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

#item-list tr.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#item-list tr .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#item-list tr .destroy:hover {
  text-shadow: 0 0 1px #000,
         0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

#item-list tr .destroy:after {
  content: 'x';
}

#item-list tr:hover .destroy {
  display: block;
}

#item-list tr .edit {
  display: none;
}
#item-list td .edit-count-in,
#item-list td .edit-add,
#item-list td .edit-comp,
#item-list td .edit-count-out {
  display: none
}

#item-list tr.editing:last-child {
  margin-bottom: -1px;
}

#footer {
  color: #777;
  padding: 0 15px;
  //position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 20px;
  z-index: 1;
  text-align: center;
}

#footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#item-count {
  float: left;
  text-align: left;
}
#item-calc {
  float:left;
  text-align: left;
}

#filters {
  margin: 0;
  padding: 0;
  list-style: none;
 // position: absolute;
  right: 0;
  left: 0;
}

#filters tr {
  display: inline;
}

#filters tr a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}

#filters tr a.selected {
  font-weight: bold;
}

#clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

#info a {
  color: inherit;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox and Opera
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #toggle-all,
  #item-list tr .toggle {
    background: none;
  }

  #item-list tr .toggle {
    height: 40px;
  }

  #toggle-all {
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}

.hidden{
  display:none;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #C5C5C5;
  border-bottom: 1px dashed #F7F7F7;
}

.learn a {
  font-weight: normal;
  text-decoration: none;
  color: #b83f45;
}

.learn a:hover {
  text-decoration: underline;
  color: #787e7e;
}

.learn h3,
.learn h4,
.learn h5 {
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.learn h3 {
  font-size: 12px;
}

.learn h4 {
  font-size: 18px;
}

.learn h5 {
  margin-bottom: 0;
  font-size: 14px;
}

.learn ul {
  padding: 0;
  margin: 0 0 30px 25px;
}

.learn tr {
  line-height: 20px;
}

.learn p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

.quote {
  border: none;
  margin: 20px 0 60px 0;
}

.quote p {
  font-style: italic;
}

.quote p:before {
  content: '“';
  font-size: 50px;
  opacity: .15;
  position: absolute;
  top: -20px;
  left: 3px;
}

.quote p:after {
  content: '”';
  font-size: 50px;
  opacity: .15;
  position: absolute;
  bottom: -42px;
  right: 3px;
}

.quote footer {
  position: absolute;
  bottom: -40px;
  right: 0;
}

.quote footer img {
  border-radius: 3px;
}

.quote footer a {
  margin-left: 5px;
  vertical-align: middle;
}

.speech-bubble {
  position: relative;
  padding: 10px;
  background: rgba(0, 0, 0, .04);
  border-radius: 5px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 30px;
  border: 13px solid transparent;
  border-top-color: rgba(0, 0, 0, .04);
}

/**body*/.learn-bar > .learn {
  position: absolute;
  width: 272px;
  top: 8px;
  left: -300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  transition-property: left;
  transition-duration: 500ms;
}

@media (min-width: 899px) {
  /**body*/.learn-bar {
    width: auto;
    margin: 0 0 0 300px;
  }
  /**body*/.learn-bar > .learn {
    left: 8px;
  }
  /**body*/.learn-bar #itemapp {
    width: 100%;
    margin: 130px auto 40px auto;
  }
}

.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.grey {
  color: grey;
}
th,
td {
  width: 10%;
  font-size: 19px;
  text-align: center;
  
}
td:first-child {
  padding: 0;
}
tr {
  //width: 100%

}

table {
 width: 70%;
  // margin-left: 30%

}
span {
  font-size: 19px
}
input {
  font-size: 19px;
}


@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
.radial-progress {
  margin: 50px;
  width: 120px;
  height: 120px;
  background-color: #d6dadc;
  border-radius: 50%;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.radial-progress .circle .shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  border-radius: 50%;
}
.radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #97a71d;
}
.radial-progress .inset {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #fbfbfb;
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.radial-progress .inset .percentage {
  height: 22px;
  width: 57px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  left: 16.5px;
  line-height: 1;
}
.radial-progress .inset .percentage .numbers {
  margin-top: -22px;
  transition: width 1s;
}
.radial-progress .inset .percentage .numbers span {
  width: 57px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #97a71d;
}
.radial-progress[data-progress="0"] .circle .mask.full,
.radial-progress[data-progress="0"] .circle .fill {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.radial-progress[data-progress="0"] .circle .fill.fix {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.radial-progress[data-progress="0"] .inset .percentage .numbers {
  width: 57px;
}
.radial-progress[data-progress="1"] .circle .mask.full,
.radial-progress[data-progress="1"] .circle .fill {
  -webkit-transform: rotate(1.8deg);
  -ms-transform: rotate(1.8deg);
  transform: rotate(1.8deg);
}
.radial-progress[data-progress="1"] .circle .fill.fix {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.radial-progress[data-progress="1"] .inset .percentage .numbers {
  width: 114px;
}
.radial-progress[data-progress="2"] .circle .mask.full,
.radial-progress[data-progress="2"] .circle .fill {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.radial-progress[data-progress="2"] .circle .fill.fix {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.radial-progress[data-progress="2"] .inset .percentage .numbers {
  width: 171px;
}
.radial-progress[data-progress="3"] .circle .mask.full,
.radial-progress[data-progress="3"] .circle .fill {
  -webkit-transform: rotate(5.4deg);
  -ms-transform: rotate(5.4deg);
  transform: rotate(5.4deg);
}
.radial-progress[data-progress="3"] .circle .fill.fix {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.radial-progress[data-progress="3"] .inset .percentage .numbers {
  width: 228px;
}
.radial-progress[data-progress="4"] .circle .mask.full,
.radial-progress[data-progress="4"] .circle .fill {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.radial-progress[data-progress="4"] .circle .fill.fix {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.radial-progress[data-progress="4"] .inset .percentage .numbers {
  width: 285px;
}
.radial-progress[data-progress="5"] .circle .mask.full,
.radial-progress[data-progress="5"] .circle .fill {
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}
.radial-progress[data-progress="5"] .circle .fill.fix {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.radial-progress[data-progress="5"] .inset .percentage .numbers {
  width: 342px;
}
.radial-progress[data-progress="6"] .circle .mask.full,
.radial-progress[data-progress="6"] .circle .fill {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.radial-progress[data-progress="6"] .circle .fill.fix {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.radial-progress[data-progress="6"] .inset .percentage .numbers {
  width: 399px;
}
.radial-progress[data-progress="7"] .circle .mask.full,
.radial-progress[data-progress="7"] .circle .fill {
  -webkit-transform: rotate(12.6deg);
  -ms-transform: rotate(12.6deg);
  transform: rotate(12.6deg);
}
.radial-progress[data-progress="7"] .circle .fill.fix {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.radial-progress[data-progress="7"] .inset .percentage .numbers {
  width: 456px;
}
.radial-progress[data-progress="8"] .circle .mask.full,
.radial-progress[data-progress="8"] .circle .fill {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.radial-progress[data-progress="8"] .circle .fill.fix {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.radial-progress[data-progress="8"] .inset .percentage .numbers {
  width: 513px;
}
.radial-progress[data-progress="9"] .circle .mask.full,
.radial-progress[data-progress="9"] .circle .fill {
  -webkit-transform: rotate(16.2deg);
  -ms-transform: rotate(16.2deg);
  transform: rotate(16.2deg);
}
.radial-progress[data-progress="9"] .circle .fill.fix {
  -webkit-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.radial-progress[data-progress="9"] .inset .percentage .numbers {
  width: 570px;
}
.radial-progress[data-progress="10"] .circle .mask.full,
.radial-progress[data-progress="10"] .circle .fill {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.radial-progress[data-progress="10"] .circle .fill.fix {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.radial-progress[data-progress="10"] .inset .percentage .numbers {
  width: 627px;
}
.radial-progress[data-progress="11"] .circle .mask.full,
.radial-progress[data-progress="11"] .circle .fill {
  -webkit-transform: rotate(19.8deg);
  -ms-transform: rotate(19.8deg);
  transform: rotate(19.8deg);
}
.radial-progress[data-progress="11"] .circle .fill.fix {
  -webkit-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.radial-progress[data-progress="11"] .inset .percentage .numbers {
  width: 684px;
}
.radial-progress[data-progress="12"] .circle .mask.full,
.radial-progress[data-progress="12"] .circle .fill {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.radial-progress[data-progress="12"] .circle .fill.fix {
  -webkit-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.radial-progress[data-progress="12"] .inset .percentage .numbers {
  width: 741px;
}
.radial-progress[data-progress="13"] .circle .mask.full,
.radial-progress[data-progress="13"] .circle .fill {
  -webkit-transform: rotate(23.4deg);
  -ms-transform: rotate(23.4deg);
  transform: rotate(23.4deg);
}
.radial-progress[data-progress="13"] .circle .fill.fix {
  -webkit-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.radial-progress[data-progress="13"] .inset .percentage .numbers {
  width: 798px;
}
.radial-progress[data-progress="14"] .circle .mask.full,
.radial-progress[data-progress="14"] .circle .fill {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.radial-progress[data-progress="14"] .circle .fill.fix {
  -webkit-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.radial-progress[data-progress="14"] .inset .percentage .numbers {
  width: 855px;
}
.radial-progress[data-progress="15"] .circle .mask.full,
.radial-progress[data-progress="15"] .circle .fill {
  -webkit-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  transform: rotate(27deg);
}
.radial-progress[data-progress="15"] .circle .fill.fix {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}
.radial-progress[data-progress="15"] .inset .percentage .numbers {
  width: 912px;
}
.radial-progress[data-progress="16"] .circle .mask.full,
.radial-progress[data-progress="16"] .circle .fill {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.radial-progress[data-progress="16"] .circle .fill.fix {
  -webkit-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.radial-progress[data-progress="16"] .inset .percentage .numbers {
  width: 969px;
}
.radial-progress[data-progress="17"] .circle .mask.full,
.radial-progress[data-progress="17"] .circle .fill {
  -webkit-transform: rotate(30.6deg);
  -ms-transform: rotate(30.6deg);
  transform: rotate(30.6deg);
}
.radial-progress[data-progress="17"] .circle .fill.fix {
  -webkit-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.radial-progress[data-progress="17"] .inset .percentage .numbers {
  width: 1026px;
}
.radial-progress[data-progress="18"] .circle .mask.full,
.radial-progress[data-progress="18"] .circle .fill {
  -webkit-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.radial-progress[data-progress="18"] .circle .fill.fix {
  -webkit-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.radial-progress[data-progress="18"] .inset .percentage .numbers {
  width: 1083px;
}
.radial-progress[data-progress="19"] .circle .mask.full,
.radial-progress[data-progress="19"] .circle .fill {
  -webkit-transform: rotate(34.2deg);
  -ms-transform: rotate(34.2deg);
  transform: rotate(34.2deg);
}
.radial-progress[data-progress="19"] .circle .fill.fix {
  -webkit-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.radial-progress[data-progress="19"] .inset .percentage .numbers {
  width: 1140px;
}
.radial-progress[data-progress="20"] .circle .mask.full,
.radial-progress[data-progress="20"] .circle .fill {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.radial-progress[data-progress="20"] .circle .fill.fix {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}
.radial-progress[data-progress="20"] .inset .percentage .numbers {
  width: 1197px;
}
.radial-progress[data-progress="21"] .circle .mask.full,
.radial-progress[data-progress="21"] .circle .fill {
  -webkit-transform: rotate(37.8deg);
  -ms-transform: rotate(37.8deg);
  transform: rotate(37.8deg);
}
.radial-progress[data-progress="21"] .circle .fill.fix {
  -webkit-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.radial-progress[data-progress="21"] .inset .percentage .numbers {
  width: 1254px;
}
.radial-progress[data-progress="22"] .circle .mask.full,
.radial-progress[data-progress="22"] .circle .fill {
  -webkit-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.radial-progress[data-progress="22"] .circle .fill.fix {
  -webkit-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.radial-progress[data-progress="22"] .inset .percentage .numbers {
  width: 1311px;
}
.radial-progress[data-progress="23"] .circle .mask.full,
.radial-progress[data-progress="23"] .circle .fill {
  -webkit-transform: rotate(41.4deg);
  -ms-transform: rotate(41.4deg);
  transform: rotate(41.4deg);
}
.radial-progress[data-progress="23"] .circle .fill.fix {
  -webkit-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.radial-progress[data-progress="23"] .inset .percentage .numbers {
  width: 1368px;
}
.radial-progress[data-progress="24"] .circle .mask.full,
.radial-progress[data-progress="24"] .circle .fill {
  -webkit-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.radial-progress[data-progress="24"] .circle .fill.fix {
  -webkit-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.radial-progress[data-progress="24"] .inset .percentage .numbers {
  width: 1425px;
}
.radial-progress[data-progress="25"] .circle .mask.full,
.radial-progress[data-progress="25"] .circle .fill {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radial-progress[data-progress="25"] .circle .fill.fix {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.radial-progress[data-progress="25"] .inset .percentage .numbers {
  width: 1482px;
}
.radial-progress[data-progress="26"] .circle .mask.full,
.radial-progress[data-progress="26"] .circle .fill {
  -webkit-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.radial-progress[data-progress="26"] .circle .fill.fix {
  -webkit-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.radial-progress[data-progress="26"] .inset .percentage .numbers {
  width: 1539px;
}
.radial-progress[data-progress="27"] .circle .mask.full,
.radial-progress[data-progress="27"] .circle .fill {
  -webkit-transform: rotate(48.6deg);
  -ms-transform: rotate(48.6deg);
  transform: rotate(48.6deg);
}
.radial-progress[data-progress="27"] .circle .fill.fix {
  -webkit-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.radial-progress[data-progress="27"] .inset .percentage .numbers {
  width: 1596px;
}
.radial-progress[data-progress="28"] .circle .mask.full,
.radial-progress[data-progress="28"] .circle .fill {
  -webkit-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.radial-progress[data-progress="28"] .circle .fill.fix {
  -webkit-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.radial-progress[data-progress="28"] .inset .percentage .numbers {
  width: 1653px;
}
.radial-progress[data-progress="29"] .circle .mask.full,
.radial-progress[data-progress="29"] .circle .fill {
  -webkit-transform: rotate(52.2deg);
  -ms-transform: rotate(52.2deg);
  transform: rotate(52.2deg);
}
.radial-progress[data-progress="29"] .circle .fill.fix {
  -webkit-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.radial-progress[data-progress="29"] .inset .percentage .numbers {
  width: 1710px;
}
.radial-progress[data-progress="30"] .circle .mask.full,
.radial-progress[data-progress="30"] .circle .fill {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}
.radial-progress[data-progress="30"] .circle .fill.fix {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}
.radial-progress[data-progress="30"] .inset .percentage .numbers {
  width: 1767px;
}
.radial-progress[data-progress="31"] .circle .mask.full,
.radial-progress[data-progress="31"] .circle .fill {
  -webkit-transform: rotate(55.8deg);
  -ms-transform: rotate(55.8deg);
  transform: rotate(55.8deg);
}
.radial-progress[data-progress="31"] .circle .fill.fix {
  -webkit-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.radial-progress[data-progress="31"] .inset .percentage .numbers {
  width: 1824px;
}
.radial-progress[data-progress="32"] .circle .mask.full,
.radial-progress[data-progress="32"] .circle .fill {
  -webkit-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.radial-progress[data-progress="32"] .circle .fill.fix {
  -webkit-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.radial-progress[data-progress="32"] .inset .percentage .numbers {
  width: 1881px;
}
.radial-progress[data-progress="33"] .circle .mask.full,
.radial-progress[data-progress="33"] .circle .fill {
  -webkit-transform: rotate(59.4deg);
  -ms-transform: rotate(59.4deg);
  transform: rotate(59.4deg);
}
.radial-progress[data-progress="33"] .circle .fill.fix {
  -webkit-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.radial-progress[data-progress="33"] .inset .percentage .numbers {
  width: 1938px;
}
.radial-progress[data-progress="34"] .circle .mask.full,
.radial-progress[data-progress="34"] .circle .fill {
  -webkit-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.radial-progress[data-progress="34"] .circle .fill.fix {
  -webkit-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.radial-progress[data-progress="34"] .inset .percentage .numbers {
  width: 1995px;
}
.radial-progress[data-progress="35"] .circle .mask.full,
.radial-progress[data-progress="35"] .circle .fill {
  -webkit-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  transform: rotate(63deg);
}
.radial-progress[data-progress="35"] .circle .fill.fix {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}
.radial-progress[data-progress="35"] .inset .percentage .numbers {
  width: 2052px;
}
.radial-progress[data-progress="36"] .circle .mask.full,
.radial-progress[data-progress="36"] .circle .fill {
  -webkit-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.radial-progress[data-progress="36"] .circle .fill.fix {
  -webkit-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.radial-progress[data-progress="36"] .inset .percentage .numbers {
  width: 2109px;
}
.radial-progress[data-progress="37"] .circle .mask.full,
.radial-progress[data-progress="37"] .circle .fill {
  -webkit-transform: rotate(66.6deg);
  -ms-transform: rotate(66.6deg);
  transform: rotate(66.6deg);
}
.radial-progress[data-progress="37"] .circle .fill.fix {
  -webkit-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.radial-progress[data-progress="37"] .inset .percentage .numbers {
  width: 2166px;
}
.radial-progress[data-progress="38"] .circle .mask.full,
.radial-progress[data-progress="38"] .circle .fill {
  -webkit-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.radial-progress[data-progress="38"] .circle .fill.fix {
  -webkit-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.radial-progress[data-progress="38"] .inset .percentage .numbers {
  width: 2223px;
}
.radial-progress[data-progress="39"] .circle .mask.full,
.radial-progress[data-progress="39"] .circle .fill {
  -webkit-transform: rotate(70.2deg);
  -ms-transform: rotate(70.2deg);
  transform: rotate(70.2deg);
}
.radial-progress[data-progress="39"] .circle .fill.fix {
  -webkit-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.radial-progress[data-progress="39"] .inset .percentage .numbers {
  width: 2280px;
}
.radial-progress[data-progress="40"] .circle .mask.full,
.radial-progress[data-progress="40"] .circle .fill {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}
.radial-progress[data-progress="40"] .circle .fill.fix {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}
.radial-progress[data-progress="40"] .inset .percentage .numbers {
  width: 2337px;
}
.radial-progress[data-progress="41"] .circle .mask.full,
.radial-progress[data-progress="41"] .circle .fill {
  -webkit-transform: rotate(73.8deg);
  -ms-transform: rotate(73.8deg);
  transform: rotate(73.8deg);
}
.radial-progress[data-progress="41"] .circle .fill.fix {
  -webkit-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.radial-progress[data-progress="41"] .inset .percentage .numbers {
  width: 2394px;
}
.radial-progress[data-progress="42"] .circle .mask.full,
.radial-progress[data-progress="42"] .circle .fill {
  -webkit-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.radial-progress[data-progress="42"] .circle .fill.fix {
  -webkit-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.radial-progress[data-progress="42"] .inset .percentage .numbers {
  width: 2451px;
}
.radial-progress[data-progress="43"] .circle .mask.full,
.radial-progress[data-progress="43"] .circle .fill {
  -webkit-transform: rotate(77.4deg);
  -ms-transform: rotate(77.4deg);
  transform: rotate(77.4deg);
}
.radial-progress[data-progress="43"] .circle .fill.fix {
  -webkit-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.radial-progress[data-progress="43"] .inset .percentage .numbers {
  width: 2508px;
}
.radial-progress[data-progress="44"] .circle .mask.full,
.radial-progress[data-progress="44"] .circle .fill {
  -webkit-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.radial-progress[data-progress="44"] .circle .fill.fix {
  -webkit-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.radial-progress[data-progress="44"] .inset .percentage .numbers {
  width: 2565px;
}
.radial-progress[data-progress="45"] .circle .mask.full,
.radial-progress[data-progress="45"] .circle .fill {
  -webkit-transform: rotate(81deg);
  -ms-transform: rotate(81deg);
  transform: rotate(81deg);
}
.radial-progress[data-progress="45"] .circle .fill.fix {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}
.radial-progress[data-progress="45"] .inset .percentage .numbers {
  width: 2622px;
}
.radial-progress[data-progress="46"] .circle .mask.full,
.radial-progress[data-progress="46"] .circle .fill {
  -webkit-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.radial-progress[data-progress="46"] .circle .fill.fix {
  -webkit-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.radial-progress[data-progress="46"] .inset .percentage .numbers {
  width: 2679px;
}
.radial-progress[data-progress="47"] .circle .mask.full,
.radial-progress[data-progress="47"] .circle .fill {
  -webkit-transform: rotate(84.6deg);
  -ms-transform: rotate(84.6deg);
  transform: rotate(84.6deg);
}
.radial-progress[data-progress="47"] .circle .fill.fix {
  -webkit-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.radial-progress[data-progress="47"] .inset .percentage .numbers {
  width: 2736px;
}
.radial-progress[data-progress="48"] .circle .mask.full,
.radial-progress[data-progress="48"] .circle .fill {
  -webkit-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.radial-progress[data-progress="48"] .circle .fill.fix {
  -webkit-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.radial-progress[data-progress="48"] .inset .percentage .numbers {
  width: 2793px;
}
.radial-progress[data-progress="49"] .circle .mask.full,
.radial-progress[data-progress="49"] .circle .fill {
  -webkit-transform: rotate(88.2deg);
  -ms-transform: rotate(88.2deg);
  transform: rotate(88.2deg);
}
.radial-progress[data-progress="49"] .circle .fill.fix {
  -webkit-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.radial-progress[data-progress="49"] .inset .percentage .numbers {
  width: 2850px;
}
.radial-progress[data-progress="50"] .circle .mask.full,
.radial-progress[data-progress="50"] .circle .fill {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.radial-progress[data-progress="50"] .circle .fill.fix {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.radial-progress[data-progress="50"] .inset .percentage .numbers {
  width: 2907px;
}
.radial-progress[data-progress="51"] .circle .mask.full,
.radial-progress[data-progress="51"] .circle .fill {
  -webkit-transform: rotate(91.8deg);
  -ms-transform: rotate(91.8deg);
  transform: rotate(91.8deg);
}
.radial-progress[data-progress="51"] .circle .fill.fix {
  -webkit-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.radial-progress[data-progress="51"] .inset .percentage .numbers {
  width: 2964px;
}
.radial-progress[data-progress="52"] .circle .mask.full,
.radial-progress[data-progress="52"] .circle .fill {
  -webkit-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.radial-progress[data-progress="52"] .circle .fill.fix {
  -webkit-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.radial-progress[data-progress="52"] .inset .percentage .numbers {
  width: 3021px;
}
.radial-progress[data-progress="53"] .circle .mask.full,
.radial-progress[data-progress="53"] .circle .fill {
  -webkit-transform: rotate(95.4deg);
  -ms-transform: rotate(95.4deg);
  transform: rotate(95.4deg);
}
.radial-progress[data-progress="53"] .circle .fill.fix {
  -webkit-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.radial-progress[data-progress="53"] .inset .percentage .numbers {
  width: 3078px;
}
.radial-progress[data-progress="54"] .circle .mask.full,
.radial-progress[data-progress="54"] .circle .fill {
  -webkit-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.radial-progress[data-progress="54"] .circle .fill.fix {
  -webkit-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.radial-progress[data-progress="54"] .inset .percentage .numbers {
  width: 3135px;
}
.radial-progress[data-progress="55"] .circle .mask.full,
.radial-progress[data-progress="55"] .circle .fill {
  -webkit-transform: rotate(99deg);
  -ms-transform: rotate(99deg);
  transform: rotate(99deg);
}
.radial-progress[data-progress="55"] .circle .fill.fix {
  -webkit-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg);
}
.radial-progress[data-progress="55"] .inset .percentage .numbers {
  width: 3192px;
}
.radial-progress[data-progress="56"] .circle .mask.full,
.radial-progress[data-progress="56"] .circle .fill {
  -webkit-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.radial-progress[data-progress="56"] .circle .fill.fix {
  -webkit-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.radial-progress[data-progress="56"] .inset .percentage .numbers {
  width: 3249px;
}
.radial-progress[data-progress="57"] .circle .mask.full,
.radial-progress[data-progress="57"] .circle .fill {
  -webkit-transform: rotate(102.6deg);
  -ms-transform: rotate(102.6deg);
  transform: rotate(102.6deg);
}
.radial-progress[data-progress="57"] .circle .fill.fix {
  -webkit-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}
.radial-progress[data-progress="57"] .inset .percentage .numbers {
  width: 3306px;
}
.radial-progress[data-progress="58"] .circle .mask.full,
.radial-progress[data-progress="58"] .circle .fill {
  -webkit-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.radial-progress[data-progress="58"] .circle .fill.fix {
  -webkit-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.radial-progress[data-progress="58"] .inset .percentage .numbers {
  width: 3363px;
}
.radial-progress[data-progress="59"] .circle .mask.full,
.radial-progress[data-progress="59"] .circle .fill {
  -webkit-transform: rotate(106.2deg);
  -ms-transform: rotate(106.2deg);
  transform: rotate(106.2deg);
}
.radial-progress[data-progress="59"] .circle .fill.fix {
  -webkit-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.radial-progress[data-progress="59"] .inset .percentage .numbers {
  width: 3420px;
}
.radial-progress[data-progress="60"] .circle .mask.full,
.radial-progress[data-progress="60"] .circle .fill {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}
.radial-progress[data-progress="60"] .circle .fill.fix {
  -webkit-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg);
}
.radial-progress[data-progress="60"] .inset .percentage .numbers {
  width: 3477px;
}
.radial-progress[data-progress="61"] .circle .mask.full,
.radial-progress[data-progress="61"] .circle .fill {
  -webkit-transform: rotate(109.8deg);
  -ms-transform: rotate(109.8deg);
  transform: rotate(109.8deg);
}
.radial-progress[data-progress="61"] .circle .fill.fix {
  -webkit-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.radial-progress[data-progress="61"] .inset .percentage .numbers {
  width: 3534px;
}
.radial-progress[data-progress="62"] .circle .mask.full,
.radial-progress[data-progress="62"] .circle .fill {
  -webkit-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.radial-progress[data-progress="62"] .circle .fill.fix {
  -webkit-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}
.radial-progress[data-progress="62"] .inset .percentage .numbers {
  width: 3591px;
}
.radial-progress[data-progress="63"] .circle .mask.full,
.radial-progress[data-progress="63"] .circle .fill {
  -webkit-transform: rotate(113.4deg);
  -ms-transform: rotate(113.4deg);
  transform: rotate(113.4deg);
}
.radial-progress[data-progress="63"] .circle .fill.fix {
  -webkit-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.radial-progress[data-progress="63"] .inset .percentage .numbers {
  width: 3648px;
}
.radial-progress[data-progress="64"] .circle .mask.full,
.radial-progress[data-progress="64"] .circle .fill {
  -webkit-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.radial-progress[data-progress="64"] .circle .fill.fix {
  -webkit-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.radial-progress[data-progress="64"] .inset .percentage .numbers {
  width: 3705px;
}
.radial-progress[data-progress="65"] .circle .mask.full,
.radial-progress[data-progress="65"] .circle .fill {
  -webkit-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  transform: rotate(117deg);
}
.radial-progress[data-progress="65"] .circle .fill.fix {
  -webkit-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  transform: rotate(234deg);
}
.radial-progress[data-progress="65"] .inset .percentage .numbers {
  width: 3762px;
}
.radial-progress[data-progress="66"] .circle .mask.full,
.radial-progress[data-progress="66"] .circle .fill {
  -webkit-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.radial-progress[data-progress="66"] .circle .fill.fix {
  -webkit-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.radial-progress[data-progress="66"] .inset .percentage .numbers {
  width: 3819px;
}
.radial-progress[data-progress="67"] .circle .mask.full,
.radial-progress[data-progress="67"] .circle .fill {
  -webkit-transform: rotate(120.6deg);
  -ms-transform: rotate(120.6deg);
  transform: rotate(120.6deg);
}
.radial-progress[data-progress="67"] .circle .fill.fix {
  -webkit-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}
.radial-progress[data-progress="67"] .inset .percentage .numbers {
  width: 3876px;
}
.radial-progress[data-progress="68"] .circle .mask.full,
.radial-progress[data-progress="68"] .circle .fill {
  -webkit-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.radial-progress[data-progress="68"] .circle .fill.fix {
  -webkit-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.radial-progress[data-progress="68"] .inset .percentage .numbers {
  width: 3933px;
}
.radial-progress[data-progress="69"] .circle .mask.full,
.radial-progress[data-progress="69"] .circle .fill {
  -webkit-transform: rotate(124.2deg);
  -ms-transform: rotate(124.2deg);
  transform: rotate(124.2deg);
}
.radial-progress[data-progress="69"] .circle .fill.fix {
  -webkit-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.radial-progress[data-progress="69"] .inset .percentage .numbers {
  width: 3990px;
}
.radial-progress[data-progress="70"] .circle .mask.full,
.radial-progress[data-progress="70"] .circle .fill {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}
.radial-progress[data-progress="70"] .circle .fill.fix {
  -webkit-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  transform: rotate(252deg);
}
.radial-progress[data-progress="70"] .inset .percentage .numbers {
  width: 4047px;
}
.radial-progress[data-progress="71"] .circle .mask.full,
.radial-progress[data-progress="71"] .circle .fill {
  -webkit-transform: rotate(127.8deg);
  -ms-transform: rotate(127.8deg);
  transform: rotate(127.8deg);
}
.radial-progress[data-progress="71"] .circle .fill.fix {
  -webkit-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.radial-progress[data-progress="71"] .inset .percentage .numbers {
  width: 4104px;
}
.radial-progress[data-progress="72"] .circle .mask.full,
.radial-progress[data-progress="72"] .circle .fill {
  -webkit-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.radial-progress[data-progress="72"] .circle .fill.fix {
  -webkit-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.radial-progress[data-progress="72"] .inset .percentage .numbers {
  width: 4161px;
}
.radial-progress[data-progress="73"] .circle .mask.full,
.radial-progress[data-progress="73"] .circle .fill {
  -webkit-transform: rotate(131.4deg);
  -ms-transform: rotate(131.4deg);
  transform: rotate(131.4deg);
}
.radial-progress[data-progress="73"] .circle .fill.fix {
  -webkit-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.radial-progress[data-progress="73"] .inset .percentage .numbers {
  width: 4218px;
}
.radial-progress[data-progress="74"] .circle .mask.full,
.radial-progress[data-progress="74"] .circle .fill {
  -webkit-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.radial-progress[data-progress="74"] .circle .fill.fix {
  -webkit-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}
.radial-progress[data-progress="74"] .inset .percentage .numbers {
  width: 4275px;
}
.radial-progress[data-progress="75"] .circle .mask.full,
.radial-progress[data-progress="75"] .circle .fill {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.radial-progress[data-progress="75"] .circle .fill.fix {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.radial-progress[data-progress="75"] .inset .percentage .numbers {
  width: 4332px;
}
.radial-progress[data-progress="76"] .circle .mask.full,
.radial-progress[data-progress="76"] .circle .fill {
  -webkit-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.radial-progress[data-progress="76"] .circle .fill.fix {
  -webkit-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.radial-progress[data-progress="76"] .inset .percentage .numbers {
  width: 4389px;
}
.radial-progress[data-progress="77"] .circle .mask.full,
.radial-progress[data-progress="77"] .circle .fill {
  -webkit-transform: rotate(138.6deg);
  -ms-transform: rotate(138.6deg);
  transform: rotate(138.6deg);
}
.radial-progress[data-progress="77"] .circle .fill.fix {
  -webkit-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.radial-progress[data-progress="77"] .inset .percentage .numbers {
  width: 4446px;
}
.radial-progress[data-progress="78"] .circle .mask.full,
.radial-progress[data-progress="78"] .circle .fill {
  -webkit-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.radial-progress[data-progress="78"] .circle .fill.fix {
  -webkit-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.radial-progress[data-progress="78"] .inset .percentage .numbers {
  width: 4503px;
}
.radial-progress[data-progress="79"] .circle .mask.full,
.radial-progress[data-progress="79"] .circle .fill {
  -webkit-transform: rotate(142.2deg);
  -ms-transform: rotate(142.2deg);
  transform: rotate(142.2deg);
}
.radial-progress[data-progress="79"] .circle .fill.fix {
  -webkit-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}
.radial-progress[data-progress="79"] .inset .percentage .numbers {
  width: 4560px;
}
.radial-progress[data-progress="80"] .circle .mask.full,
.radial-progress[data-progress="80"] .circle .fill {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}
.radial-progress[data-progress="80"] .circle .fill.fix {
  -webkit-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg);
}
.radial-progress[data-progress="80"] .inset .percentage .numbers {
  width: 4617px;
}
.radial-progress[data-progress="81"] .circle .mask.full,
.radial-progress[data-progress="81"] .circle .fill {
  -webkit-transform: rotate(145.8deg);
  -ms-transform: rotate(145.8deg);
  transform: rotate(145.8deg);
}
.radial-progress[data-progress="81"] .circle .fill.fix {
  -webkit-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.radial-progress[data-progress="81"] .inset .percentage .numbers {
  width: 4674px;
}
.radial-progress[data-progress="82"] .circle .mask.full,
.radial-progress[data-progress="82"] .circle .fill {
  -webkit-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.radial-progress[data-progress="82"] .circle .fill.fix {
  -webkit-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.radial-progress[data-progress="82"] .inset .percentage .numbers {
  width: 4731px;
}
.radial-progress[data-progress="83"] .circle .mask.full,
.radial-progress[data-progress="83"] .circle .fill {
  -webkit-transform: rotate(149.4deg);
  -ms-transform: rotate(149.4deg);
  transform: rotate(149.4deg);
}
.radial-progress[data-progress="83"] .circle .fill.fix {
  -webkit-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.radial-progress[data-progress="83"] .inset .percentage .numbers {
  width: 4788px;
}
.radial-progress[data-progress="84"] .circle .mask.full,
.radial-progress[data-progress="84"] .circle .fill {
  -webkit-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.radial-progress[data-progress="84"] .circle .fill.fix {
  -webkit-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}
.radial-progress[data-progress="84"] .inset .percentage .numbers {
  width: 4845px;
}
.radial-progress[data-progress="85"] .circle .mask.full,
.radial-progress[data-progress="85"] .circle .fill {
  -webkit-transform: rotate(153deg);
  -ms-transform: rotate(153deg);
  transform: rotate(153deg);
}
.radial-progress[data-progress="85"] .circle .fill.fix {
  -webkit-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  transform: rotate(306deg);
}
.radial-progress[data-progress="85"] .inset .percentage .numbers {
  width: 4902px;
}
.radial-progress[data-progress="86"] .circle .mask.full,
.radial-progress[data-progress="86"] .circle .fill {
  -webkit-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.radial-progress[data-progress="86"] .circle .fill.fix {
  -webkit-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.radial-progress[data-progress="86"] .inset .percentage .numbers {
  width: 4959px;
}
.radial-progress[data-progress="87"] .circle .mask.full,
.radial-progress[data-progress="87"] .circle .fill {
  -webkit-transform: rotate(156.6deg);
  -ms-transform: rotate(156.6deg);
  transform: rotate(156.6deg);
}
.radial-progress[data-progress="87"] .circle .fill.fix {
  -webkit-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.radial-progress[data-progress="87"] .inset .percentage .numbers {
  width: 5016px;
}
.radial-progress[data-progress="88"] .circle .mask.full,
.radial-progress[data-progress="88"] .circle .fill {
  -webkit-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.radial-progress[data-progress="88"] .circle .fill.fix {
  -webkit-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.radial-progress[data-progress="88"] .inset .percentage .numbers {
  width: 5073px;
}
.radial-progress[data-progress="89"] .circle .mask.full,
.radial-progress[data-progress="89"] .circle .fill {
  -webkit-transform: rotate(160.2deg);
  -ms-transform: rotate(160.2deg);
  transform: rotate(160.2deg);
}
.radial-progress[data-progress="89"] .circle .fill.fix {
  -webkit-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}
.radial-progress[data-progress="89"] .inset .percentage .numbers {
  width: 5130px;
}
.radial-progress[data-progress="90"] .circle .mask.full,
.radial-progress[data-progress="90"] .circle .fill {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}
.radial-progress[data-progress="90"] .circle .fill.fix {
  -webkit-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg);
}
.radial-progress[data-progress="90"] .inset .percentage .numbers {
  width: 5187px;
}
.radial-progress[data-progress="91"] .circle .mask.full,
.radial-progress[data-progress="91"] .circle .fill {
  -webkit-transform: rotate(163.8deg);
  -ms-transform: rotate(163.8deg);
  transform: rotate(163.8deg);
}
.radial-progress[data-progress="91"] .circle .fill.fix {
  -webkit-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.radial-progress[data-progress="91"] .inset .percentage .numbers {
  width: 5244px;
}
.radial-progress[data-progress="92"] .circle .mask.full,
.radial-progress[data-progress="92"] .circle .fill {
  -webkit-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.radial-progress[data-progress="92"] .circle .fill.fix {
  -webkit-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.radial-progress[data-progress="92"] .inset .percentage .numbers {
  width: 5301px;
}
.radial-progress[data-progress="93"] .circle .mask.full,
.radial-progress[data-progress="93"] .circle .fill {
  -webkit-transform: rotate(167.4deg);
  -ms-transform: rotate(167.4deg);
  transform: rotate(167.4deg);
}
.radial-progress[data-progress="93"] .circle .fill.fix {
  -webkit-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.radial-progress[data-progress="93"] .inset .percentage .numbers {
  width: 5358px;
}
.radial-progress[data-progress="94"] .circle .mask.full,
.radial-progress[data-progress="94"] .circle .fill {
  -webkit-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.radial-progress[data-progress="94"] .circle .fill.fix {
  -webkit-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}
.radial-progress[data-progress="94"] .inset .percentage .numbers {
  width: 5415px;
}
.radial-progress[data-progress="95"] .circle .mask.full,
.radial-progress[data-progress="95"] .circle .fill {
  -webkit-transform: rotate(171deg);
  -ms-transform: rotate(171deg);
  transform: rotate(171deg);
}
.radial-progress[data-progress="95"] .circle .fill.fix {
  -webkit-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  transform: rotate(342deg);
}
.radial-progress[data-progress="95"] .inset .percentage .numbers {
  width: 5472px;
}
.radial-progress[data-progress="96"] .circle .mask.full,
.radial-progress[data-progress="96"] .circle .fill {
  -webkit-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.radial-progress[data-progress="96"] .circle .fill.fix {
  -webkit-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.radial-progress[data-progress="96"] .inset .percentage .numbers {
  width: 5529px;
}
.radial-progress[data-progress="97"] .circle .mask.full,
.radial-progress[data-progress="97"] .circle .fill {
  -webkit-transform: rotate(174.6deg);
  -ms-transform: rotate(174.6deg);
  transform: rotate(174.6deg);
}
.radial-progress[data-progress="97"] .circle .fill.fix {
  -webkit-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.radial-progress[data-progress="97"] .inset .percentage .numbers {
  width: 5586px;
}
.radial-progress[data-progress="98"] .circle .mask.full,
.radial-progress[data-progress="98"] .circle .fill {
  -webkit-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.radial-progress[data-progress="98"] .circle .fill.fix {
  -webkit-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.radial-progress[data-progress="98"] .inset .percentage .numbers {
  width: 5643px;
}
.radial-progress[data-progress="99"] .circle .mask.full,
.radial-progress[data-progress="99"] .circle .fill {
  -webkit-transform: rotate(178.2deg);
  -ms-transform: rotate(178.2deg);
  transform: rotate(178.2deg);
}
.radial-progress[data-progress="99"] .circle .fill.fix {
  -webkit-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}
.radial-progress[data-progress="99"] .inset .percentage .numbers {
  width: 5700px;
}
.radial-progress[data-progress="100"] .circle .mask.full,
.radial-progress[data-progress="100"] .circle .fill {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.radial-progress[data-progress="100"] .circle .fill.fix {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.radial-progress[data-progress="100"] .inset .percentage .numbers {
  width: 5757px;
}